sdpassist/sdpassist/sdpassist/Service References/SDPOPSService/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/sdpopsservice" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/sdpopsservice" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSdp">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Sdp" nillable="true" type="tns:Sdp" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSdp" nillable="true" type="tns:ArrayOfSdp" />
  <xs:complexType name="Sdp">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Tam" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Sdp" nillable="true" type="tns:Sdp" />
  <xs:complexType name="ArrayOfOPSStaff">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OPSStaff" nillable="true" type="tns:OPSStaff" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOPSStaff" nillable="true" type="tns:ArrayOfOPSStaff" />
  <xs:complexType name="OPSStaff">
    <xs:sequence>
      <xs:element minOccurs="0" name="Manager" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OPSStaff" nillable="true" type="tns:OPSStaff" />
</xs:schema>